/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#pragma once

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include <dt-bindings/zmk/hid_usage.h>
#include <dt-bindings/zmk/hid_usage_pages.h>
#include <dt-bindings/zmk/modifiers.h>

// definition of special keys mutated vowels (from german layout)
#define DE_AE QUOT         // Ä
#define DE_OE SCLN         // Ö
#define DE_UE LBRC         // Ü
#define DE_SS MINS         // ß
#define DE_EURO RA(N5)     // €

/ {
    behaviors {
        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        email: email {
            label = "my_email";
            compatible = "zmk,behavior-macro";
            wait-ms = <10>;
            tap-ms = <10>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp F &kp A &kp B &kp I &kp A &kp N>
                , <&macro_tap &kp DOT>
                , <&macro_tap &kp G &kp E &kp B &kp H &kp A &kp R &kp T>
                , <&macro_tap &kp AT>
                , <&macro_tap &kp G &kp M &kp A &kp I &kp L>
                , <&macro_tap &kp DOT>
                , <&macro_tap &kp C &kp O &kp M>
                ;
        };
    };
};
// if you came until here and managed to decipher my email address, I'm happy to receive a mail from you :)

/ {
        keymap {
                compatible = "zmk,keymap";

                default {
                        bindings = <
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp TAB     &kp Q      &kp W      &kp E      &kp R      &kp T                                &kp Y    &kp U      &kp I      &kp O      &kp P      &bspc_del
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp LCTRL   &kp A      &kp S      &kp D      &kp F      &kp G                                &kp H    &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp LSHFT   &kp Z      &kp X      &kp C      &kp V      &kp B                                &kp N    &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp ESC
// |----------+----------+----------+----------+----------+----------+----------|  |----------+----------+----------+----------+----------+----------+----------|
                                                  &kp LGUI   &mo 1    &kp SPACE      &kp RET      &mo 2    &kp LALT  
//                                             |----------+----------+----------|  |----------+----------+----------|
                        >;
                };

                lower {
                        bindings = <
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp TAB     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                              &kp N6    &kp N7     &kp N8      &kp N9    &kp N0     &bspc_del
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp LCTRL   &trans     &trans     &trans     &trans     &trans                              &kp HOME   &kp LEFT   &kp UP    &kp DOWN   &kp RIGHT  &kp END
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp LSHFT   &trans     &trans     &trans     &trans     &trans                              &trans     &trans    &kp PG_UP  &kp PG_DN   &trans     &trans
// |----------+----------+----------+----------+----------+----------+----------|  |----------+----------+----------+----------+----------+----------+----------|
                                                  &kp LGUI   &trans   &kp SPACE      &kp RET     &mo 3     &kp LALT  
//                                             |----------+----------+----------|  |----------+----------+----------|
                        >;
                };

                raise {
                        bindings = <
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp TAB    &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT                           &kp CARET &kp AMPS &kp KP_MULTIPLY &kp LPAR &kp RPAR   &bspc_del
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp LCTRL &kp DE_AE  &kp DE_EURO  &trans     &trans     &trans                             &kp MINUS  &kp EQUAL &kp LBKT    &kp RBKT   &kp BSLH   &kp GRAVE
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp LSHFT  &trans     &trans     &trans     &trans     &trans                              &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC   &kp PIPE  &kp TILDE
// |----------+----------+----------+----------+----------+----------+----------|  |----------+----------+----------+----------+----------+----------+----------|
                                                 &kp LGUI   &mo 3     &kp SPACE      &kp RET    &trans     &kp LALT  
//                                             |----------+----------+----------|  |----------+----------+----------|
                        >;
                };

                func {
                        bindings = <
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp TAB     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                              &kp F6     &kp F7     &kp F8     &kp F9     &kp F10   &bspc_del
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp LCTRL   &kp F11    &kp F12    &kp F13    &kp F14    &kp F15                          &kp C_BRI_DN &kp C_BRI_UP &kp C_VOL_DN &kp C_VOL_UP &kp C_PP &kp C_NEXT
// |----------+----------+----------+----------+----------+----------|                        |----------+----------+----------+----------+----------+----------|
     &kp LSHFT   &trans     &trans     &trans     &email     &trans                            &trans   &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR
// |----------+----------+----------+----------+----------+----------+----------|  |----------+----------+----------+----------+----------+----------+----------|
                                                  &kp LGUI   &trans    &kp SPACE     &kp RET    &trans     &kp LALT  
//                                             |----------+----------+----------|  |----------+----------+----------|
                        >;
                };
        };
};
